<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="xlRcode.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Win32.Registry" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <xlRcode.Properties.Settings>
      <setting name="RHome" serializeAs="String">
        <value>C:\Program Files\R\R-4.0.2</value>
      </setting>
      <setting name="RPath" serializeAs="String">
        <value>C:\Program Files\R\R-4.0.2\bin\x64</value>
      </setting>
      <setting name="ConsoleLineLimit" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="InitializationCodeFile" serializeAs="String">
        <value>C:\Users\Eduardo\Google Drive\Meus Projetos\xlRcode\VS\xlRcode\InitializationCode.txt</value>
      </setting>
      <setting name="FunctionsFolder" serializeAs="String">
        <value>C:\Users\Eduardo\Google Drive\Meus Projetos\xlRcode\VS\xlRcode\Functions</value>
      </setting>
      <setting name="CRANMirror" serializeAs="String">
        <value>https://cloud.r-project.org/</value>
      </setting>
    </xlRcode.Properties.Settings>
  </userSettings>
</configuration>