<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CircularProgressBar" version="2.8.0.16" targetFramework="net472" />
  <package id="DynamicInterop" version="0.9.1" targetFramework="net472" />
  <package id="ExcelDna.AddIn" version="1.5.1" targetFramework="net472" />
  <package id="ExcelDna.Integration" version="1.5.1" targetFramework="net472" />
  <package id="ExcelDna.Registration" version="1.5.1" targetFramework="net472" />
  <package id="ExcelDna.Utilities" version="0.2.0" targetFramework="net472" />
  <package id="Microsoft.CodeAnalysis.Analyzers" version="3.3.3" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.CodeAnalysis.Common" version="4.1.0" targetFramework="net472" />
  <package id="Microsoft.CodeAnalysis.CSharp" version="4.1.0" targetFramework="net472" />
  <package id="Microsoft.CodeAnalysis.CSharp.Scripting" version="4.1.0" targetFramework="net472" />
  <package id="Microsoft.CodeAnalysis.Scripting" version="4.1.0" targetFramework="net472" />
  <package id="Microsoft.CodeAnalysis.Scripting.Common" version="4.1.0" targetFramework="net472" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net472" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net472" />
  <package id="Microsoft.Win32.Registry" version="5.0.0" targetFramework="net472" />
  <package id="Monaco.Editor" version="0.9.0-beta" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="11.0.1" targetFramework="net472" />
  <package id="NJsonSchema" version="9.10.49" targetFramework="net472" />
  <package id="R.NET" version="1.9.0" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Collections.Immutable" version="5.0.0" targetFramework="net472" />
  <package id="System.IO.Compression" version="4.3.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.4" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Reflection.Metadata" version="5.0.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net472" />
  <package id="System.Security.AccessControl" version="6.0.0" targetFramework="net472" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net472" />
  <package id="System.Text.Encoding.CodePages" version="4.5.1" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net472" />
  <package id="TabOrderManager" version="1.0.54" targetFramework="net472" />
  <package id="WinFormAnimation" version="1.6.0.4" targetFramework="net472" />
</packages>